<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yuna.game">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
         
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDyzumQvrq3gN-2SEfZACBetmu2jMVpDT4" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".ItemboxActivity" />
        <activity android:name=".PrologueActivity" />
        <activity android:name=".GamestartActivity" />
        <activity android:name=".LeeHyun" />
        <activity android:name=".LeeYounghan" />
        <activity android:name=".ImKiwook" />
        <activity android:name=".ChoiSunghee" />
        <activity android:name=".HwangYoungsub" />
        <activity android:name=".ChoiJaesung" />
        <activity android:name=".AnHyesun" />
        <activity android:name=".ParkJungho" />
        <activity android:name=".NaBanghyun" />
        <activity android:name=".KimEunghee" />
        <activity android:name=".KimBongjae" />
        <activity android:name=".KwonJinbaek"></activity>
    </application>

</manifest>